streamlit
numpy 
pandas
opencv-python
python-doctr
tensorflow
tf2onnx
Pillow
spacy
spacy-transformers
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3.tar.gz
regex
pathlib
glob2
stqdm
python-dateutil
pdf2image
requests

